.topBar {
   background-color: white;
   border-bottom: 0.2rem solid black;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1280px;
   margin: 0 auto;
}

.container {
   display: flex;
   gap: 2rem;
   flex-direction: column;
   height: 100%;
   padding-bottom: 2rem;
}
