.accountBar {
   display: flex;
   justify-content: end;
   align-items: center;
   gap: 1rem;
   text-transform: uppercase;
}

.accountBar a {
   color: black;
   font-size: 0.7rem;
   text-decoration: none;
}
