.stickyNavBar {
   background-color: white;
   position: sticky;
   top: 0;
   z-index: 48;
}

.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1280px;
   margin: 0 auto;
}

.container img {
   width: 60%;
}
